.spellbook-view {
  padding: 5px;
}

.mapped-spells-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  align-content: center;
  box-shadow: 0px 5px 15px 5px #c7c7c7
  ;
  border-radius: 15px;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.learned-spell {
  color: #4E4E56;
  text-decoration: none;
  font-size: 40px;
}