.spellbook-view {
  padding: 5px;
}

.mapped-spells-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 2px 10px 2px #c7c7c7
  ;
  border-radius: 15px;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  min-height: 60px;
}

.learned-spell {
  color: #4E4E56;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
}

.learned-spell:hover {
  color: #DA635D;
}

.listed-spell {
  margin-top: 15px;
}

.header {
  border-bottom: #DA635D 1px solid;
  font-weight: bold;
  font-size: 32px;
}

@media (min-width: 700px) {
  .char-nav-opened, .char-nav-closed {
    width: 50%;
  }
}