/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0
} */

.nav {
  height: 10vh;
  box-shadow: 0px 3px 10px 3px #aaaaaa;
  display: flex;
  justify-content: flex-end;
}

.ham {
  font-size: 36px;
  position: fixed;
  right: 5px;
  height: 10%;
  width: 10vw;
}

