.auth-input-box {
  height: 10px;
  padding: 15px;
  font-size: 20px;
}

.auth-opened {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
  position: relative;
  top: 40px;
  background: #4E4E56;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 5px grey;
  border: #DA635D solid 3px;
}

.auth-closed {
  position:fixed;
  top: -1000px;
  transition: opacity 0s, top 1s;
  width: 0px;
  height: 0px;
  opacity: 0;
  z-index: 1;
}

.auth {
  height: 100%;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:100%;  
  transition: opacity 0.4s, top 0.4s;
}


.auth-button-container {
  display: flex;
  justify-content: space-evenly;
}

.login-button {
  font-size: 24px;
  padding: 10px;
  background-color: #4E4E56;
  border: 1px solid #4E4E56; 
  color: #DCD0C0;
}

.register-button {
  font-size: 24px;
  padding: 10px;
  background-color: #4E4E56;
  border: 1px solid #4E4E56; 
  color: #DCD0C0;
}

@media (min-width:600px) {
  
  .auth-opened, .auth-closed {
    position: fixed;
    right: 15px;
    top: 15vh;
    width: 50vw;
    height: 50vh;
    opacity: inherit;
    background: #4E4E56;
    display: flex;
    justify-content: center;
    border: 3px solid #DA635D;

  }
}

@media (min-width:1000px) {
  .auth-opened, .auth-closed{
    max-width: 600px;
  }
}
